In [1]:
import pandas as pd

In [2]:
def clean_artist(artist):
    cleaned = artist.split(' X ')[0].split(' & ')[0].split(' Featuring ')[0]
    if cleaned == 'Lil Ba':
        cleaned = 'Lil Baby'
    elif cleaned == 'DaBa':
        cleaned = 'DaBaby'
    return cleaned

In [3]:
country_songs = pd.read_csv(r'raw_data/country_songs.csv')
country_songs['Artist'] = country_songs['Artist'].map(clean_artist)
country_songs.to_csv(r'cleaned_songs/country_songs_cleaned.csv')

hiphop_songs = pd.read_csv(r'raw_data/hiphop_songs.csv')
hiphop_songs['Artist'] = hiphop_songs['Artist'].map(clean_artist)
hiphop_songs.to_csv(r'cleaned_songs/hiphop_songs_cleaned.csv')

pop_songs = pd.read_csv(r'raw_data/pop_songs.csv')
pop_songs['Artist'] = pop_songs['Artist'].map(clean_artist)
pop_songs.to_csv(r'cleaned_songs/pop_songs_cleaned.csv')

rock_songs = pd.read_csv(r'raw_data/rock_songs.csv')
rock_songs['Artist'] = rock_songs['Artist'].map(clean_artist)
rock_songs.to_csv(r'cleaned_songs/rock_songs_cleaned.csv')

In [4]:
country_songs

,Title,Artist
0,Speechless,Dan + Shay
1,Tequila,Dan + Shay
2,Meant To Be,Bebe Rexha
3,She Got The Best Of Me,Luke Combs
4,Lose It,Kane Brown
...,...,...
4445,Still A Little Chicken Left On That Bone,Craig Morgan
4446,Ready For Love,Adam Brand
4447,That's Beautiful To Me,Jaron And The Long Road To Love
4448,Soldiers & Jesus,James Otto
4449,Keep In Mind,LoCash Cowboys

In [ ]:
cou